*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;

  background: 
    linear-gradient(to bottom, rgba(0,0,0,0.6), #020617),
    linear-gradient(
      to right,
      #002C3B,
      #00506A,
      #007AA0,
      #00A7DA,
      #6BD2FF,
      #E0F5FF
    );

  color: white;
}